/* src/components/Main/Main.css */

.main {
  background: url('../../images/georgia-de-lotz.png') no-repeat center;
  background-size: cover;
  width: 100%;
  max-width: 1440px; 
  margin: 0 auto;   
  padding: 160px 0 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 540px;
  box-sizing: border-box; /* Crucial to keep padding inside 1440px */
  position: relative;
} 

.main__container {
  max-width: 608px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.main__title {
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  line-height: 64px;
  margin: 0 0 32px;
}

.main__subtitle {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 88px;
}