/* src/components/SearchForm/SearchForm.css */

.search-form {
  display: flex;
  background-color: #fff;
  border-radius: 100px;
  width: 100%;
  max-width: 608px;
  height: 64px;
  padding: 0;
  border: none;
}

.search-form__input {
  flex-grow: 1;
  border: none;
  padding: 0 24px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  outline: none;
  background: transparent;
  border-radius: 100px 0 0 100px;
  outline: none;
}

.search-form__input:focus {
  outline: none;
  box-shadow: none;
}

.search-form__button {
  background-color: #2f71e5;
  color: #fff;
  border: none;
  padding: 0 56px;
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.2s ease;
}

.search-form__button:hover {
  background-color: #347eff;
}

.search-form__button:active {
  background-color: #2a65cc;
}

/* Tablet/Mobile  */
@media screen and (max-width: 600px) {
  .search-form {
    flex-direction: column;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
  .search-form__input {
    background-color: #fff;
    border-radius: 100px;
    height: 56px;
    margin-bottom: 16px;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
  }
  .search-form__button {
    border-radius: 100px;
    height: 56px;
    width: 100%;
  }
}
