/* src/components/Header/Header.css */

.header {
  width: 100%;
  max-width: 1440px; 
  margin: 0 auto;    
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 10;
  margin-bottom: -80px; 
}

/* Modifier for the Saved News page */

.header_theme_light {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #D1D2D6;
}

.header__container {
  width: 100%;
  max-width: 1440px;
  height: 80px; 
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 104px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__logo {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
}

.header__logo_theme_light {
  color: #1A1B22;
}

/* Responsiveness for Tablet/Mobile from Figma */
@media screen and (max-width: 768px) {
  .header__container {
    padding: 20px 40px;
  }
}